@import "tailwindcss";

:root {
  /* Solarized Softer Light Theme */
  --bg-primary: #fdf6e3;
  --bg-secondary: #eee8d5;
  --color-border: #d8cfb3;
  --text-primary: #586e75;
  --text-emphasis: #073642;
  
  --solarized-blue: #268bd2;
  --solarized-blue-hover: #1f76b5;
  --solarized-green: #859900;
  --solarized-red: #dc322f;
}

.dark {
  /* Solarized Softer Dark Theme */
  --bg-primary: #073642;
  --bg-secondary: #0b3b49;
  --color-border: #2d5863;
  --text-primary: #93a1a1;
  --text-emphasis: #fdf6e3;
  
  --solarized-blue: #268bd2;
  --solarized-blue-hover: #2f93db;
  --solarized-green: #859900;
  --solarized-red: #dc322f;
}

@theme {
  --color-bg-primary: var(--bg-primary);
  --color-bg-secondary: var(--bg-secondary);
  --color-border-custom: var(--color-border);
  --color-text-primary: var(--text-primary);
  --color-text-emphasis: var(--text-emphasis);
  
  --color-solarized-blue: var(--solarized-blue);
  --color-solarized-blue-hover: var(--solarized-blue-hover);
  --color-solarized-green: var(--solarized-green);
  --color-solarized-red: var(--solarized-red);
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-family: ui-sans-serif, system-ui, sans-serif;
  transition: none;
}
